<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex: Technical Test MISO - Uniandes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h1>Pokedex - Technical Test Backend</h1>
        <h2>MISO Uniandes</h2>
        <h3>Author: Héctor Franco</h3>
        <h3>Website: 
            <a href="https://hectorfranco.dev" target="_blank"
                rel="noopener noreferrer">Héctor Franco - Portfolio
            </a>
        </h3>
        <h3>Github repo: 
            <a href="https://github.com/HectorFrancoDev/backend-pokedex-technical-test" target="_blank"
                rel="noopener noreferrer">Pokedex API
            </a>
        </h3>
        <h3>Postman API Documentation: 
            <a href="https://documenter.getpostman.com/view/31664787/2s9Ykhg4W4" target="_blank"
                rel="noopener noreferrer">Postman API
            </a>
        </h3>




        <p>
            Hi. This is the Backend enpoint for the API Restful
            Go to see

        <ul>
            <li>
                <a href="https://backend-pokedex-technical-test.onrender.com/api/pokemon" target="_blank"
                    rel="noopener noreferrer">/api/pokemon
                </a>

            </li>

            <li>

                <a href="https://backend-pokedex-technical-test.onrender.com/api/pokemon/charmander" target="_blank"
                    rel="noopener noreferrer">/api/pokemon/{name}

                    To see an specific Pokemon
                </a>

            </li>
        </ul>
        </p>



    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>